---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
@charset "utf-8";

/* =Colors */
$dorian: #F5F5F5;
$iron: #333333;
$cloudy: #828282;

@import
    "mixins",
    "default",
    "404"
;

/**
 * Table
 */
table {
    width: 100%;
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
}

th,
td {
    padding: 0.5rem;
    line-height: inherit;
}

th {
    text-align: left;
    vertical-align: bottom;
    border-bottom: 2px solid $grey-color-light;
}

td {
    vertical-align: top;
    border-bottom: 1px solid $grey-color-light;
}
